<div class="reset-password-container">
  <h2>Restablecer contraseña</h2>
  <form (ngSubmit)="submitForm()" #resetForm="ngForm">
    <div class="form-group">
      <label for="password">Nueva contraseña</label>
      <input
        type="password"
        id="password"
        name="password"
        [(ngModel)]="password"
        required
        minlength="8"
      />
      <div
        *ngIf="
          resetForm.controls?.['password']?.invalid &&
          (resetForm.controls?.['password']?.dirty || resetForm.controls?.['password']?.touched)
        "
      >
        <small
          *ngIf="resetForm.controls?.['password']?.errors?.['required']"
          class="text-danger"
          >Este campo es obligatorio.</small
        >
        <small
          *ngIf="resetForm.controls?.['password']?.errors?.['minlength']"
          class="text-danger"
          >La contraseña debe tener al menos 8 caracteres.</small
        >
      </div>
    </div>
    <div class="form-group">
      <label for="confirmPassword">Confirmar contraseña</label>
      <input
        type="password"
        id="confirmPassword"
        name="confirmPassword"
        [(ngModel)]="confirmPassword"
        required
        minlength="8"
      />
      <div
        *ngIf="
          resetForm.controls?.['confirmPassword']?.invalid &&
          (resetForm.controls?.['confirmPassword']?.dirty || resetForm.controls?.['confirmPassword']?.touched)
        "
      >
        <small
          *ngIf="resetForm.controls?.['confirmPassword']?.errors?.['required']"
          class="text-danger"
          >Este campo es obligatorio.</small
        >
        <small
          *ngIf="resetForm.controls?.['confirmPassword']?.errors?.['minlength']"
          class="text-danger"
          >La contraseña debe tener al menos 8 caracteres.</small
        >
      </div>
    </div>
    <div class="form-group">
      <button type="submit" [disabled]="!resetForm?.form?.valid">
        Restablecer contraseña
      </button>
    </div>
  </form>
</div>
