<app-header></app-header>

<div class="container" id="header">
  <h1 class="logo">
    <a>Configuración del Perfil</a>
  </h1>

  <br />

  <!-- Información del Taller -->
  <div>
    <h1 class="logo">
      <a> <span>Detalles</span></a>
    </h1>
    <table class="table">
      <thead>
        <tr>
          <th scope="col"></th>
          <th scope="col"></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td scope="row">
            <input
              type="checkbox"
              (change)="
                selectDetailsWorkshop(currentWorkshopData?.WorkshopName)
              "
            />
          </td>
          <td><strong>Nombre:</strong></td>
          <td>{{ currentWorkshopData?.WorkshopName }}</td>
        </tr>
        <tr>
          <td scope="row">
            <input
              type="checkbox"
              (change)="selectDetailsWorkshop(currentWorkshopData?.phoneNumber)"
            />
          </td>
          <td><strong>Teléfono:</strong></td>
          <td>{{ formatPhoneNumber(currentWorkshopData?.phoneNumber) }}</td>
        </tr>
        <tr>
          <td scope="row">
            <input
              type="checkbox"
              (change)="selectDetailsWorkshop(currentWorkshopData?.idNumber)"
            />
          </td>
          <td><strong>RNC:</strong></td>
          <td>{{ formatIdNumber(currentWorkshopData?.idNumber) }}</td>
        </tr>
        <tr>
          <td scope="row">
            <input
              type="checkbox"
              (change)="selectDetailsWorkshop(currentWorkshopData?.email)"
            />
          </td>
          <td><strong>Email:</strong></td>
          <td>{{ currentWorkshopData?.email }}</td>
        </tr>
        <tr>
          <td scope="row">
            <input
              type="checkbox"
              (change)="selectDetailsWorkshop(currentWorkshopData?.certificate)"
            />
          </td>
          <td><strong>Certificado:</strong></td>
          <td>{{ currentWorkshopData?.certificate }}</td>
          <!--  -->
        </tr>
        <tr>
          <td scope="row">
            <input
              type="checkbox"
              (change)="selectDetailsWorkshop(currentWorkshopData?.imagenes)"
            />
          </td>
          <td><strong>Imagen:</strong></td>
          <td>{{ currentWorkshopData?.imagenes }}</td>
          <!-- <img src="{{ currentWorkshopData?.imagenes }}" /> -->
        </tr>
      </tbody>
    </table>
    <button
      type="button"
      class="btn btn-outline-success"
      data-bs-toggle="modal"
      data-bs-target="#modalEdit"
    >
      Modificar
    </button>
  </div>
  <!-- Información del Taller -->

  <br />

  <!-- Información de Ubicacion -->
  <div>
    <h1 class="logo">
      <a> <span>Ubicaciones</span></a>
    </h1>
    <br />
    <table class="table">
      <thead>
        <tr>
          <th scope="col"></th>
          <th scope="col">Dirección</th>
          <th scope="col">Dirección 2</th>
          <th scope="col">Provincia</th>
          <th scope="col">Ciudad</th>
          <th scope="col">Sector</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let x of currentWorkshopData?.locations; let i = index">
          <td scope="row">
            <input
              type="checkbox"
              [disabled]="
                currentLocationWorkshop && currentLocationWorkshop !== x
              "
              [checked]="x.isSelected"
              (change)="selectLocationWorkshop(x)"
            />
          </td>
          <td>{{ x.address }}</td>
          <td>{{ x.address2 }}</td>
          <td>{{ x.province }}</td>
          <td>{{ x.city }}</td>
          <td>{{ x.sector }}</td>
        </tr>
      </tbody>
    </table>

    <button
      type="button"
      class="btn btn-outline-primary mr-2"
      data-bs-toggle="modal"
      data-bs-target="#modalAdd"
      [disabled]="currentLocationWorkshop"
    >
      Agregar
    </button>

    <button
      type="button"
      class="btn btn-outline-success mr-2"
      data-bs-toggle="modal"
      data-bs-target="#modalUpdate"
      [disabled]="!currentLocationWorkshop"
    >
      Modificar
    </button>

    <button
      type="button"
      class="btn btn-outline-danger"
      data-bs-toggle="modal"
      data-bs-target="#modalDelete"
      [disabled]="!currentLocationWorkshop"
    >
      Eliminar
    </button>
  </div>
  <!-- Información de Ubicacion -->

  <br />

  <!-- Información de Marcas -->
  <div>
    <h1 class="logo">
      <a> <span>Marcas</span></a>
    </h1>
    <br />
    <table class="table">
      <thead>
        <tr>
          <th scope="col"></th>
          <th scope="col">Marca</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let x of currentWorkshopData?.vehicleBrand; let i = index">
          <td scope="row">
            <input
              type="checkbox"
              [disabled]="currentBrandWorkshop && currentBrandWorkshop !== x"
              [checked]="x.isSelected2"
              (change)="selectBrandWorkshop(x)"
            />
          </td>
          <td>{{ x.name }}</td>
        </tr>
      </tbody>
    </table>

    <button
      type="button"
      class="btn btn-outline-primary mr-2"
      data-bs-toggle="modal"
      data-bs-target="#modalAddBrand"
      [disabled]="currentBrandWorkshop"
    >
      Agregar
    </button>

    <button
      type="button"
      class="btn btn-outline-success mr-2"
      data-bs-toggle="modal"
      data-bs-target="#modalUpdateBrand"
      [disabled]="!currentBrandWorkshop"
    >
      Modificar
    </button>

    <button
      type="button"
      class="btn btn-outline-danger"
      data-bs-toggle="modal"
      data-bs-target="#modalDeleteBrand"
      [disabled]="!currentBrandWorkshop"
    >
      Eliminar
    </button>
  </div>
  <!-- Información de Marcas -->
</div>

<ng-template #loggedOut> Inicie sesion. </ng-template>

<!-- Modals Taller Detalle -->
<div>
  <!-- Edit -->
  <div
    class="modal fade"
    id="modalEdit"
    data-bs-backdrop="static"
    data-bs-keyboard="false"
    tabindex="-1"
    aria-labelledby="modalEditLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="staticBackdropLabel">
            <strong>Editar - Detalles</strong>
          </h1>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
            (click)="refreshWindow()"
          ></button>
        </div>

        <div class="modal-body">
          <p>Edite el formulario</p>

          <div class="mb-3">
            <label class="form-label"
              ><strong>Detalle:</strong> {{ currentDetails }}</label
            >

            <input class="form-control" type="text" [(ngModel)]="dataNew" />
          </div>

          <p>Si desea editar el Taller, presione <strong>Aceptar</strong>.</p>
        </div>

        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-outline-danger"
            data-bs-dismiss="modal"
          >
            Cancelar
          </button>
          <button
            [disabled]="!dataNew"
            type="button"
            class="btn btn-outline-success"
            (click)="updateDetailsWorkshop()"
            data-bs-target="#modalEdit2"
            data-bs-toggle="modal"
          >
            Aceptar
          </button>
        </div>
      </div>
    </div>
  </div>
  <!-- Edit -->

  <!-- Edit 2 -->
  <div
    class="modal fade"
    id="modalEdit2"
    data-bs-backdrop="static"
    data-bs-keyboard="false"
    tabindex="-1"
    aria-labelledby="modalEdit2Label"
    aria-hidden="true"
  >
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="staticBackdropLabel">
            <strong>Editar - Detalles</strong>
          </h1>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
            (click)="refreshWindow()"
          ></button>
        </div>

        <div class="modal-body">
          <p>El Taller fue actualizado, <strong>Exitosamente!</strong></p>
        </div>

        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-outline-success"
            (click)="refreshWindow()"
          >
            Aceptar
          </button>
        </div>
      </div>
    </div>
  </div>
  <!-- Edit 2 -->
</div>
<!-- Modals Taller Detalle -->

<!-- Modals Taller Ubicacion-->
<div>
  <!-- Add -->
  <div
    class="modal fade"
    id="modalAdd"
    data-bs-backdrop="static"
    data-bs-keyboard="false"
    tabindex="-1"
    aria-labelledby="modalAddLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="staticBackdropLabel">
            <strong>Agregar - Ubicacion</strong>
          </h1>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
            (click)="refreshWindow()"
          ></button>
        </div>

        <div class="modal-body">
          <p>Complete el formulario</p>

          <div class="mb-3">
            <strong><label class="form-label">Dirección</label></strong>

            <input class="form-control" type="text" [(ngModel)]="address" />
          </div>

          <div class="mb-3">
            <strong><label class="form-label">Dirección 2</label></strong>

            <input class="form-control" type="text" [(ngModel)]="address2" />
          </div>

          <div class="mb-3">
            <strong><label class="form-label">Provincia</label></strong>
            <select class="form-control" [(ngModel)]="selectedProvince">
              <option
                *ngFor="let province of dataLocations.province"
                [ngValue]="province"
              >
                {{ province.name }}
              </option>
            </select>
          </div>

          <div class="mb-3" *ngIf="selectedProvince">
            <strong><label class="form-label">Localidad</label></strong>
            <select class="form-control" [(ngModel)]="selectedCity">
              <option
                *ngFor="let city of selectedProvince.value"
                [ngValue]="city"
              >
                {{ city.name }}
              </option>
            </select>
          </div>

          <div class="mb-3" *ngIf="selectedCity">
            <strong><label class="form-label">Sector</label></strong>
            <select class="form-control" [(ngModel)]="selectedSector">
              <option
                *ngFor="let sector of selectedCity.sectores"
                [ngValue]="sector"
              >
                {{ sector }}
              </option>
            </select>
          </div>
          <p>
            Si desea agregar el Ubicacion, presione <strong>Aceptar</strong>.
          </p>
        </div>

        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-outline-danger"
            data-bs-dismiss="modal"
          >
            Cancelar
          </button>
          <button
            [disabled]="
              !address ||
              !address2 ||
              !selectedCity ||
              !selectedProvince ||
              !selectedSector
            "
            type="button"
            class="btn btn-outline-success"
            (click)="addLocationWorkshop()"
            data-bs-target="#modalAdd2"
            data-bs-toggle="modal"
          >
            Aceptar
          </button>
        </div>
      </div>
    </div>
  </div>
  <!-- Add -->

  <!-- Add 2 -->
  <div
    class="modal fade"
    id="modalAdd2"
    data-bs-backdrop="static"
    data-bs-keyboard="false"
    tabindex="-1"
    aria-labelledby="modalAdd2Label"
    aria-hidden="true"
  >
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="staticBackdropLabel">
            <strong>Agregar - Ubicacion</strong>
          </h1>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
            (click)="refreshWindow()"
          ></button>
        </div>

        <div class="modal-body">
          <p>El Ubicacion fue agregado, <strong>Exitosamente!</strong></p>
        </div>

        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-outline-success"
            (click)="refreshWindow()"
          >
            Aceptar
          </button>
        </div>
      </div>
    </div>
  </div>
  <!-- Add 2 -->

  <!-- Update -->
  <div
    class="modal fade"
    id="modalUpdate"
    data-bs-backdrop="static"
    data-bs-keyboard="false"
    tabindex="-1"
    aria-labelledby="modalUpdateLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="staticBackdropLabel">
            <strong>Modificar - Ubicacion</strong>
          </h1>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
            (click)="refreshWindow()"
          ></button>
        </div>

        <div class="modal-body">
          <p>Complete el formulario</p>

          <div class="mb-3">
            <strong><label class="form-label">Dirección</label></strong>

            <input class="form-control" type="text" [(ngModel)]="address" />
          </div>

          <div class="mb-3">
            <strong><label class="form-label">Dirección 2</label></strong>

            <input class="form-control" type="text" [(ngModel)]="address2" />
          </div>

          <div class="mb-3">
            <strong><label class="form-label">Provincia</label></strong>
            <select class="form-control" [(ngModel)]="selectedProvince">
              <option
                *ngFor="let province of dataLocations.province"
                [ngValue]="province"
              >
                {{ province.name }}
              </option>
            </select>
          </div>

          <div class="mb-3" *ngIf="selectedProvince">
            <strong><label class="form-label">Localidad</label></strong>
            <select class="form-control" [(ngModel)]="selectedCity">
              <option
                *ngFor="let city of selectedProvince.value"
                [ngValue]="city"
              >
                {{ city.name }}
              </option>
            </select>
          </div>

          <div class="mb-3" *ngIf="selectedCity">
            <strong><label class="form-label">Sector</label></strong>
            <select class="form-control" [(ngModel)]="selectedSector">
              <option
                *ngFor="let sector of selectedCity.sectores"
                [ngValue]="sector"
              >
                {{ sector }}
              </option>
            </select>
          </div>
          <p>
            Si desea agregar el Ubicacion, presione <strong>Aceptar</strong>.
          </p>
        </div>

        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-outline-danger"
            data-bs-dismiss="modal"
          >
            Cancelar
          </button>
          <button
            type="button"
            [disabled]="
              !address ||
              !address2 ||
              !selectedCity ||
              !selectedProvince ||
              !selectedSector
            "
            class="btn btn-outline-success"
            (click)="updateLocationWorkshop()"
            data-bs-target="#modalUpdate2"
            data-bs-toggle="modal"
          >
            Aceptar
          </button>
        </div>
      </div>
    </div>
  </div>
  <!-- Update -->

  <!-- Update 2 -->
  <div
    class="modal fade"
    id="modalUpdate2"
    data-bs-backdrop="static"
    data-bs-keyboard="false"
    tabindex="-1"
    aria-labelledby="modalUpdate2Label"
    aria-hidden="true"
  >
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="staticBackdropLabel">
            <strong>Modificar - Ubicacion</strong>
          </h1>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
            (click)="refreshWindow()"
          ></button>
        </div>

        <div class="modal-body">
          <p>El Ubicacion fue modificado, <strong>Exitosamente!</strong></p>
        </div>

        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-outline-success"
            (click)="refreshWindow()"
          >
            Aceptar
          </button>
        </div>
      </div>
    </div>
  </div>
  <!-- Update 2 -->

  <!-- Delete -->
  <div
    class="modal fade"
    id="modalDelete"
    data-bs-backdrop="static"
    data-bs-keyboard="false"
    tabindex="-1"
    aria-labelledby="modalDeleteLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="staticBackdropLabel">
            <strong>Eliminar - Ubicacion</strong>
          </h1>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
            (click)="refreshWindow()"
          ></button>
        </div>

        <div class="modal-body">
          <p>Hola</p>

          <div class="mb-3">
            <strong><label class="form-label">Dirección</label></strong>

            <input
              class="form-control"
              type="text"
              [(ngModel)]="address"
              readonly
            />
          </div>

          <div class="mb-3">
            <strong><label class="form-label">Dirección 2</label></strong>

            <input
              class="form-control"
              type="text"
              [(ngModel)]="address2"
              readonly
            />
          </div>

          <div class="mb-3">
            <strong><label class="form-label">Provincia</label></strong>

            <input
              class="form-control"
              type="text"
              [(ngModel)]="selectedProvince"
              readonly
            />
          </div>

          <div class="mb-3">
            <strong><label class="form-label">Ciudad</label></strong>

            <input
              class="form-control"
              type="text"
              [(ngModel)]="selectedCity"
              readonly
            />
          </div>

          <div class="mb-3">
            <strong><label class="form-label">Sector</label></strong>

            <input
              class="form-control"
              type="text"
              [(ngModel)]="selectedSector"
              readonly
            />
          </div>

          <p>
            Si desea eliminar el Ubicacion, presione <strong>Aceptar</strong>.
          </p>
        </div>

        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-outline-danger"
            data-bs-dismiss="modal"
          >
            Cancelar
          </button>
          <button
            type="button"
            class="btn btn-outline-success"
            (click)="deleteLocationWorkshop()"
            data-bs-target="#modalDelete2"
            data-bs-toggle="modal"
          >
            Aceptar
          </button>
        </div>
      </div>
    </div>
  </div>
  <!-- Delete -->

  <!-- Delete 2 -->
  <div
    class="modal fade"
    id="modalDelete2"
    data-bs-backdrop="static"
    data-bs-keyboard="false"
    tabindex="-1"
    aria-labelledby="modalUpdate2Label"
    aria-hidden="true"
  >
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="staticBackdropLabel">
            <strong>Eliminar - Ubicacion</strong>
          </h1>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
            (click)="refreshWindow()"
          ></button>
        </div>

        <div class="modal-body">
          <p>El Ubicacion fue eliminado, <strong>Exitosamente!</strong></p>
        </div>

        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-outline-success"
            (click)="refreshWindow()"
          >
            Aceptar
          </button>
        </div>
      </div>
    </div>
  </div>
  <!-- Delete 2 -->
</div>
<!-- Modals Taller Ubicacion-->

<!-- Modals Taller Marcas-->
<div>
  <!-- Add -->
  <div
    class="modal fade"
    id="modalAddBrand"
    data-bs-backdrop="static"
    data-bs-keyboard="false"
    tabindex="-1"
    aria-labelledby="modalAddBrandLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="staticBackdropLabel">
            <strong>Agregar - Marca</strong>
          </h1>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
            (click)="refreshWindow()"
          ></button>
        </div>

        <div class="modal-body">
          <p>Complete el formulario</p>

          <div class="mb-3">
            <strong><label class="form-label">Marca</label></strong>
            <select class="form-control" [(ngModel)]="selectedBrand">
              <option *ngFor="let x of dataBrands.brands" [ngValue]="x.name">
                {{ x.name }}
              </option>
            </select>
          </div>

          <p>Si desea agregar el Marca, presione <strong>Aceptar</strong>.</p>
        </div>

        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-outline-danger"
            data-bs-dismiss="modal"
          >
            Cancelar
          </button>
          <button
            [disabled]="!selectedBrand"
            type="button"
            class="btn btn-outline-success"
            (click)="addBrandWorkshop()"
            data-bs-target="#modalAddBrand2"
            data-bs-toggle="modal"
          >
            Aceptar
          </button>
        </div>
      </div>
    </div>
  </div>
  <!-- Add -->

  <!-- Add 2 -->
  <div
    class="modal fade"
    id="modalAddBrand2"
    data-bs-backdrop="static"
    data-bs-keyboard="false"
    tabindex="-1"
    aria-labelledby="modalAddBrand2Label"
    aria-hidden="true"
  >
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="staticBackdropLabel">
            <strong>Agregar - Marca</strong>
          </h1>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
            (click)="refreshWindow()"
          ></button>
        </div>

        <div class="modal-body">
          <p>La Marca fue agregado, <strong>Exitosamente!</strong></p>
        </div>

        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-outline-success"
            (click)="refreshWindow()"
          >
            Aceptar
          </button>
        </div>
      </div>
    </div>
  </div>
  <!-- Add 2 -->

  <!-- Update -->
  <div
    class="modal fade"
    id="modalUpdateBrand"
    data-bs-backdrop="static"
    data-bs-keyboard="false"
    tabindex="-1"
    aria-labelledby="modalUpdateBrandLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="staticBackdropLabel">
            <strong>Modificar - Marca</strong>
          </h1>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
            (click)="refreshWindow()"
          ></button>
        </div>

        <div class="modal-body">
          <p>Complete el formulario</p>

          <div class="mb-3">
            <strong><label class="form-label">Marca</label></strong>
            <select class="form-control" [(ngModel)]="selectedBrand">
              <option *ngFor="let x of dataBrands.brands" [ngValue]="x.name">
                {{ x.name }}
              </option>
            </select>
          </div>

          <p>Si desea modificar la Marca, presione <strong>Aceptar</strong>.</p>
        </div>

        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-outline-danger"
            data-bs-dismiss="modal"
          >
            Cancelar
          </button>
          <button
            type="button"
            [disabled]="!selectedBrand"
            class="btn btn-outline-success"
            (click)="updateBrandWorkshop()"
            data-bs-target="#modalUpdateBrand2"
            data-bs-toggle="modal"
          >
            Aceptar
          </button>
        </div>
      </div>
    </div>
  </div>
  <!-- Update -->

  <!-- Update 2 -->
  <div
    class="modal fade"
    id="modalUpdateBrand2"
    data-bs-backdrop="static"
    data-bs-keyboard="false"
    tabindex="-1"
    aria-labelledby="modalUpdate2Label"
    aria-hidden="true"
  >
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="staticBackdropLabel">
            <strong>Modificar - Marca</strong>
          </h1>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
            (click)="refreshWindow()"
          ></button>
        </div>

        <div class="modal-body">
          <p>La Marca fue modificado, <strong>Exitosamente!</strong></p>
        </div>

        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-outline-success"
            (click)="refreshWindow()"
          >
            Aceptar
          </button>
        </div>
      </div>
    </div>
  </div>
  <!-- Update 2 -->

  <!-- Delete -->
  <div
    class="modal fade"
    id="modalDeleteBrand"
    data-bs-backdrop="static"
    data-bs-keyboard="false"
    tabindex="-1"
    aria-labelledby="modalDeleteBrandLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="staticBackdropLabel">
            <strong>Eliminar - Marca</strong>
          </h1>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
            (click)="refreshWindow()"
          ></button>
        </div>

        <div class="modal-body">
          <div class="mb-3">
            <strong><label class="form-label">Marca</label></strong>

            <input
              class="form-control"
              type="text"
              [(ngModel)]="selectedBrand"
              readonly
            />
          </div>

          <p>Si desea eliminar la Marca, presione <strong>Aceptar</strong>.</p>
        </div>

        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-outline-danger"
            data-bs-dismiss="modal"
          >
            Cancelar
          </button>
          <button
            type="button"
            class="btn btn-outline-success"
            (click)="deleteBrandWorkshop()"
            data-bs-target="#modalDeleteBrand2"
            data-bs-toggle="modal"
          >
            Aceptar
          </button>
        </div>
      </div>
    </div>
  </div>
  <!-- Delete -->

  <!-- Delete 2 -->
  <div
    class="modal fade"
    id="modalDeleteBrand2"
    data-bs-backdrop="static"
    data-bs-keyboard="false"
    tabindex="-1"
    aria-labelledby="modalUpdateBrand2Label"
    aria-hidden="true"
  >
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="staticBackdropLabel">
            <strong>Eliminar - Marca</strong>
          </h1>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
            (click)="refreshWindow()"
          ></button>
        </div>

        <div class="modal-body">
          <p>La Marca fue eliminado, <strong>Exitosamente!</strong></p>
        </div>

        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-outline-success"
            (click)="refreshWindow()"
          >
            Aceptar
          </button>
        </div>
      </div>
    </div>
  </div>
  <!-- Delete 2 -->
</div>
<!-- Modals Taller Marcas-->
