<header id="header" class="fixed-top d-flex align-items-center">
  <div class="container d-flex align-items-center">
    <h1 class="logo me-auto">
      <a href="/inicio">Garage365<span>.</span></a>
    </h1>

    <!-- Without User & Workshop-->
    <nav
      id="navbar"
      class="navbar order-last order-lg-0"
      *ngIf="currentUser == null"
    >
      <ul [class.active]="menuOpen">
        <li><a class="nav-link scrollto active" href="/inicio">Inicio</a></li>

        <li><a class="nav-link scrollto" href="#Brands">Marcas</a></li>

        <li>
          <a class="nav-link scrollto" href="#About">Nosotros</a>
        </li>

        <li><a class="nav-link scrollto" href="#Services">Servicios</a></li>

        <li><a class="nav-link scrollto" href="#Workshops">Talleres</a></li>

        <li>
          <a class="nav-link scrollto" href="#Plans">Planes</a>
        </li>

        <li>
          <a class="nav-link scrollto" href="#FAQ">F.A.Q</a>
        </li>

        <li>
          <a class="nav-link scrollto" href="#Team">Equipo</a>
        </li>

        <li><a class="nav-link scrollto" href="#Contact">Contacto</a></li>

        <li *ngIf="!isLoggedIn">
          <a href="/ingreso" class="get-started-btn scrollto">Ingresar</a>
        </li>

        <li *ngIf="!isLoggedIn">
          <a href="/registro" class="get-started-btn scrollto">Registrarse</a>
        </li>
      </ul>
      <i class="bi bi-list mobile-nav-toggle" (click)="toggleMenu()"></i>
    </nav>

    <!-- With User -->
    <nav
      id="navbar"
      class="navbar order-last order-lg-0"
      *ngIf="currentUser == 'ROLE_USER'"
    >
      <ul [class.active]="menuOpen">
        <li>
          <a class="nav-link scrollto" href="/busqueda">Busqueda de Talleres</a>
        </li>

        <li>
          <a class="nav-link scrollto" href="/perfil">Reservas de Talleres</a>
        </li>

        <li>
          <a class="nav-link scrollto" href="">Chat de Expertos</a>
        </li>

        <li>
          <a class="nav-link scrollto" href="/configuracion">Perfil</a>
        </li>

        <li *ngIf="isLoggedIn">
          <a class="nav-link scrollto active"> {{ firstName }}</a>
        </li>

        <li *ngIf="isLoggedIn">
          <a class="get-started-btn scrollto" (click)="logout()">Salir</a>
        </li>
      </ul>
      <i class="bi bi-list mobile-nav-toggle" (click)="toggleMenu()"></i>
    </nav>

    <!-- With Workshop -->
    <nav
      id="navbar"
      class="navbar order-last order-lg-0"
      *ngIf="currentUser == 'ROLE_MODERATOR'"
    >
      <ul [class.active]="menuOpen">
        <li>
          <a class="nav-link scrollto" href="/perfil">Reservas</a>
        </li>

        <li>
          <a class="nav-link scrollto" href="">Chat de Usuarios</a>
        </li>

        <li>
          <a class="nav-link scrollto" href="">Estadisticas</a>
        </li>

        <li>
          <a class="nav-link scrollto" href="/employee">Empleados</a>
        </li>

        <li>
          <a class="nav-link scrollto" href="/service">Servicios</a>
        </li>

        <li>
          <a class="nav-link scrollto" href="/schedule">Horarios</a>
        </li>

        <li>
          <a class="nav-link scrollto" href="/configuracion">Perfil</a>
        </li>

        <li *ngIf="isLoggedIn">
          <a class="nav-link scrollto active"> {{ firstName }}</a>
        </li>

        <li *ngIf="isLoggedIn">
          <a class="get-started-btn scrollto" (click)="logout()">Salir</a>
        </li>
      </ul>
      <i class="bi bi-list mobile-nav-toggle" (click)="toggleMenu()"></i>
    </nav>
  </div>
</header>
