<app-header></app-header>

<br />
<br />
<br />

<section id="Workshops" class="portfolio">
  <div class="container" data-aos="fade-up">
    <h3><strong>Gestion de Horario</strong></h3>
    <br />

    <table class="table">
      <thead>
        <tr>
          <th scope="col"></th>
          <th scope="col">Dia</th>
          <th scope="col">Hora de Apertura</th>
          <th scope="col">Hora de Cierre</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let x of schedule; let i = index">
          <td scope="row">
            <input
              type="checkbox"
              [disabled]="currentSchedule && currentSchedule !== x"
              [checked]="x.isSelected"
              (change)="selectSchedule(x)"
            />
          </td>
          <td>{{ x.day }}</td>
          <td>
            {{
              x.timeStart === 0
                ? "12:00 AM"
                : x.timeStart > 12
                ? x.timeStart - 12 + ":00 PM"
                : x.timeStart + ":00 AM"
            }}
          </td>
          <td>
            {{
              x.timeFinish === 0
                ? "12:00 AM"
                : x.timeFinish > 12
                ? x.timeFinish - 12 + ":00 PM"
                : x.timeFinish + ":00 AM"
            }}
          </td>
        </tr>
      </tbody>
    </table>

    <button
      type="button"
      class="btn btn-outline-primary"
      data-bs-toggle="modal"
      data-bs-target="#modalAdd"
      [disabled]="currentSchedule"
    >
      Agregar
    </button>

    <button
      type="button"
      class="btn btn-outline-success"
      data-bs-toggle="modal"
      data-bs-target="#modalUpdate"
      [disabled]="!currentSchedule"
    >
      Modificar
    </button>

    <button
      type="button"
      class="btn btn-outline-danger"
      data-bs-toggle="modal"
      data-bs-target="#modalDelete"
      [disabled]="!currentSchedule"
    >
      Eliminar
    </button>
  </div>
</section>

<!-- Add -->
<div
  class="modal fade"
  id="modalAdd"
  data-bs-backdrop="static"
  data-bs-keyboard="false"
  tabindex="-1"
  aria-labelledby="modalAddLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="staticBackdropLabel">
          <strong>Agregar - Horario</strong>
        </h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
          (click)="refreshWindow()"
        ></button>
      </div>

      <div class="modal-body">
        <p>Complete el formulario</p>

        <div class="mb-3">
          <strong><label class="form-label">Seleccione el dia</label></strong>

          <select
            class="form-select"
            aria-label="Día de la semana"
            [(ngModel)]="selectedDay"
            [disabled]="!getAvailableDays().length"
          >
            <option disabled selected></option>
            <option *ngFor="let day of getAvailableDays()" [ngValue]="day">
              {{ day }}
            </option>
          </select>
        </div>

        <div class="mb-3">
          <strong
            ><label class="form-label"
              >Seleccione la hora de apertura</label
            ></strong
          >

          <select
            class="form-select"
            aria-label="Hora de apertura"
            [(ngModel)]="openTime"
            (change)="onOpenTimeChange()"
            [disabled]="!selectedDay"
          >
            <option *ngFor="let hour of allHours" [ngValue]="hour">
              {{
                hour === 0
                  ? "12:00 AM"
                  : hour > 12
                  ? hour - 12 + ":00 PM"
                  : hour + ":00 AM"
              }}
            </option>
          </select>
        </div>

        <div class="mb-3">
          <strong
            ><label class="form-label"
              >Seleccione la hora de cierre</label
            ></strong
          >

          <select
            class="form-select"
            aria-label="Hora de cierre"
            [(ngModel)]="closeTime"
            [disabled]="!openTime"
          >
            <option *ngFor="let hour of availableClosingHours" [ngValue]="hour">
              {{
                hour === 0
                  ? "12:00 AM"
                  : hour > 12
                  ? hour - 12 + ":00 PM"
                  : hour + ":00 AM"
              }}
            </option>
          </select>
        </div>

        <p>Si desea agregar el Horario, presione <strong>Aceptar</strong>.</p>
      </div>

      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-outline-danger"
          data-bs-dismiss="modal"
        >
          Cancelar
        </button>
        <button
          [disabled]="!selectedDay || !openTime || !closeTime"
          type="button"
          class="btn btn-outline-success"
          (click)="addSchedule()"
          data-bs-target="#modalAdd2"
          data-bs-toggle="modal"
        >
          Aceptar
        </button>
      </div>
    </div>
  </div>
</div>
<!-- Add -->

<!-- Add 2 -->
<div
  class="modal fade"
  id="modalAdd2"
  data-bs-backdrop="static"
  data-bs-keyboard="false"
  tabindex="-1"
  aria-labelledby="modalAdd2Label"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="staticBackdropLabel">
          <strong>Agregar - Horario</strong>
        </h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
          (click)="refreshWindow()"
        ></button>
      </div>

      <div class="modal-body">
        <p>El Horario fue agregado, <strong>Exitosamente!</strong></p>
      </div>

      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-outline-success"
          (click)="refreshWindow()"
        >
          Aceptar
        </button>
      </div>
    </div>
  </div>
</div>
<!-- Add 2 -->

<!-- Update -->
<div
  class="modal fade"
  id="modalUpdate"
  data-bs-backdrop="static"
  data-bs-keyboard="false"
  tabindex="-1"
  aria-labelledby="modalUpdateLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="staticBackdropLabel">
          <strong>Modificar - Horario</strong>
        </h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
          (click)="refreshWindow()"
        ></button>
      </div>

      <div class="modal-body">
        <p>
          El dia a modificar es el <strong>{{ selectedDay }}</strong>
        </p>

        <div class="mb-3">
          <strong
            ><label class="form-label"
              >Seleccione la hora de apertura</label
            ></strong
          >

          <select
            class="form-select"
            aria-label="Hora de apertura"
            [(ngModel)]="openTime"
            (change)="onOpenTimeChange()"
          >
            <option *ngFor="let hour of allHours" [ngValue]="hour">
              {{
                hour === 0
                  ? "12:00 AM"
                  : hour > 12
                  ? hour - 12 + ":00 PM"
                  : hour + ":00 AM"
              }}
            </option>
          </select>
        </div>

        <div class="mb-3">
          <strong
            ><label class="form-label"
              >Seleccione la hora de cierre</label
            ></strong
          >

          <select
            class="form-select"
            aria-label="Hora de cierre"
            [(ngModel)]="closeTime"
            [disabled]="!openTime"
          >
            <option *ngFor="let hour of availableClosingHours" [ngValue]="hour">
              {{
                hour === 0
                  ? "12:00 AM"
                  : hour > 12
                  ? hour - 12 + ":00 PM"
                  : hour + ":00 AM"
              }}
            </option>
          </select>
        </div>

        <p>Si desea agregar el Horario, presione <strong>Aceptar</strong>.</p>
      </div>

      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-outline-danger"
          data-bs-dismiss="modal"
        >
          Cancelar
        </button>
        <button
          [disabled]="!openTime || !closeTime"
          type="button"
          class="btn btn-outline-success"
          (click)="updateSchedule()"
          data-bs-target="#modalUpdate2"
          data-bs-toggle="modal"
        >
          Aceptar
        </button>
      </div>
    </div>
  </div>
</div>
<!-- Update -->

<!-- Update 2 -->
<div
  class="modal fade"
  id="modalUpdate2"
  data-bs-backdrop="static"
  data-bs-keyboard="false"
  tabindex="-1"
  aria-labelledby="modalUpdate2Label"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="staticBackdropLabel">
          <strong>Modificar - Horario</strong>
        </h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
          (click)="refreshWindow()"
        ></button>
      </div>

      <div class="modal-body">
        <p>El Horario fue modificado, <strong>Exitosamente!</strong></p>
      </div>

      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-outline-success"
          (click)="refreshWindow()"
        >
          Aceptar
        </button>
      </div>
    </div>
  </div>
</div>
<!-- Update 2 -->

<!-- Delete -->
<div
  class="modal fade"
  id="modalDelete"
  data-bs-backdrop="static"
  data-bs-keyboard="false"
  tabindex="-1"
  aria-labelledby="modalDeleteLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="staticBackdropLabel">
          <strong>Eliminar - Horario</strong>
        </h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
          (click)="refreshWindow()"
        ></button>
      </div>

      <div class="modal-body">
        <p>Se eliminara el siguiente horario</p>

        <div class="mb-3">
          <strong><label class="form-label">Dia</label></strong>

          <input
            class="form-control"
            type="text"
            [(ngModel)]="selectedDay"
            readonly
          />
        </div>

        <div class="mb-3">
          <strong>
            <label class="form-label">Hora de apertura</label>
          </strong>

          <input
            class="form-control"
            type="text"
            [(ngModel)]="openTime"
            readonly
          />
        </div>

        <div class="mb-3">
          <strong>
            <label class="form-label">Hora de Cierre</label>
          </strong>

          <input
            class="form-control"
            type="text"
            [(ngModel)]="closeTime"
            readonly
          />
        </div>

        <p>Si desea eliminar el Horario, presione <strong>Aceptar</strong>.</p>
      </div>

      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-outline-danger"
          data-bs-dismiss="modal"
        >
          Cancelar
        </button>
        <button
          type="button"
          class="btn btn-outline-success"
          (click)="deleteSchedule()"
          data-bs-target="#modalDelete2"
          data-bs-toggle="modal"
        >
          Aceptar
        </button>
      </div>
    </div>
  </div>
</div>
<!-- Delete -->

<!-- Delete 2 -->
<div
  class="modal fade"
  id="modalDelete2"
  data-bs-backdrop="static"
  data-bs-keyboard="false"
  tabindex="-1"
  aria-labelledby="modalUpdate2Label"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="staticBackdropLabel">
          <strong>Eliminar - Horario</strong>
        </h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
          (click)="refreshWindow()"
        ></button>
      </div>

      <div class="modal-body">
        <p>El Horario fue eliminado, <strong>Exitosamente!</strong></p>
      </div>

      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-outline-success"
          (click)="refreshWindow()"
        >
          Aceptar
        </button>
      </div>
    </div>
  </div>
</div>
<!-- Delete 2 -->
