<app-header></app-header>
<br />
<main id="main" *ngIf="Workshop._id">
  <section class="breadcrumbs">
    <div class="container">
      <ol>
        <li><a href="/search">Busqueda</a></li>
        <li>Detalles del taller</li>
      </ol>
      <h2>{{ Workshop.WorkshopName }}</h2>
    </div>
  </section>

  <section id="portfolio-details" class="portfolio-details">
    <div class="container">
      <div class="row gy-4">
        <div class="col-lg-8">
          <div class="portfolio-details-slider swiper">
            <img [src]="Workshop.imagenes" alt="" class="img-fluid" />
          </div>

          <br />

          <div class="row justify-content-center">
            <div class="col-6">
              <strong>Comentarios</strong>
              <div class="carousel">
                <div class="carousel-content">
                  <ng-container *ngFor="let review of reviews; let i = index">
                    <div class="slide" *ngIf="i === currentSlide">
                      <div style="font-style: italic">
                        <strong>{{ review.date | date : "dd MMMM y" }}</strong>
                      </div>
                      <hr />
                      <div style="font-style: italic">{{ review.comment }}</div>
                    </div>
                  </ng-container>
                </div>
              </div>
            </div>

            <div class="col-6 justify-content-center">
              <strong>Calificación del taller</strong>
              <br />
              <div class="stars">
                <span
                  *ngFor="let star of [1, 2, 3, 4, 5]"
                  [class.filled]="star <= averageRating"
                  >★</span
                >
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-4">
          <div class="portfolio-info">
            <h3>Detalles</h3>
            <ul>
              <!-- Revisar el vehicle Brand -->
              <li><strong>Marca</strong>: {{ Workshop.vehicleBrand }}</li>
              <li><strong>Correo</strong>: {{ Workshop.email }}</li>
              <li><strong>Telefono</strong>: {{ Workshop.phoneNumber }}</li>
            </ul>
          </div>

          <div class="portfolio-info" *ngIf="CurrentUser2 == 'ROLE_USER'">
            <h3 *ngIf="!Alert">Agendar cita</h3>
            <div *ngIf="!submitted && !Alert">
              <ul>
                <li>
                  <div class="form-check">
                    <input
                      class="form-check-input"
                      type="checkbox"
                      id="  PriorityService"
                      [(ngModel)]="isPriorityService"
                    />

                    <label class="form-check-label" for="flexCheckDefault">
                      Servicio prioritario (Costo adicional)
                    </label>
                  </div>
                </li>
                <li>
                  <strong>Ubicacion *</strong>:
                  <div class="form-group">
                    <select
                      class="form-control"
                      id="direccionSelect"
                      [(ngModel)]="Locations"
                    >
                      <option value="" disabled selected>
                        Selecciona una dirección
                      </option>
                      <option
                        *ngFor="let direccion of direcciones"
                        [value]="
                          direccion.address +
                          ', ' +
                          direccion.address2 +
                          ', ' +
                          direccion.province +
                          ', ' +
                          direccion.city +
                          ', ' +
                          direccion.sector
                        "
                      >
                        {{ direccion.address }}, {{ direccion.address2 }},
                        {{ direccion.province }}, {{ direccion.city }},
                        {{ direccion.sector }}
                      </option>
                    </select>
                  </div>
                </li>
                <li>
                  <strong>Horario *</strong>:
                  <!--  -->
                  <div></div>
                  <!--  -->
                </li>
                <li>
                  <strong>Servicio *</strong>:
                  <div class="form-group">
                    <select
                      class="form-control"
                      id="servicioSelect"
                      [(ngModel)]="Services"
                    >
                      <option value="" disabled selected>
                        Selecciona un servicio
                      </option>
                      <option
                        *ngFor="let servicio of servicios"
                        [value]="servicio.inputService"
                      >
                        {{ servicio.inputService }}
                      </option>
                    </select>
                  </div>
                </li>

                <li>
                  <strong>Comentarios *</strong>:
                  <textarea
                    class="form-control"
                    id="comment"
                    rows="3"
                    placeholder="Agregar comentarios para el taller."
                    [(ngModel)]="commentValue"
                  ></textarea>
                </li>
              </ul>
              <button
                (click)="saveTutorial()"
                [disabled]="!Locations || !Services || !commentValue"
                class="btn btn-outline-danger"
              >
                Registrar
              </button>
            </div>
            <h3 *ngIf="Alert" style="color: red">Cita Agendada</h3>
          </div>

          <br />

          <div class="portfolio-info" *ngIf="CurrentUser2 == null">
            <h3>¿Desea agendar una cita?</h3>
            <ul>
              <li>
                <strong
                  ><a href="/ingreso">Inicia Sesion</a> o
                  <a href="/registro">Registrarte</a></strong
                >
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>

<a href="#" class="back-to-top d-flex align-items-center justify-content-center"
  ><i class="bi bi-arrow-up-short"></i
></a>
