<!-- INICIO Sesion por confirmar -->
<section id="Services" class="services section-bg">
  <div class="container" data-aos="fade-up">
    <div class="section-title">
      <h2>Citas Por Confirmar</h2>
    </div>

    <div class="row">
      <div class="col-md-6" *ngFor="let AppointmentClient of tutorials">
        <div
          *ngIf="
            AppointmentClient.Status !== 'Completado' &&
            AppointmentClient.Confirm == false
          "
        >
          <div class="icon-box" data-aos="fade-up" data-aos-delay="100">
            <i class="bi bi-card-checklist"></i>

            <div
              *ngFor="let Usuario of user"
              (click)="setActiveTutorial(AppointmentClient, Usuario)"
              (click)="getAllEmployee()"
              data-bs-target="#modalConfirmation"
              data-bs-toggle="modal"
            >
              <div *ngIf="AppointmentClient.UserID == Usuario._id">
                <h4>{{ Usuario.firstName }} {{ Usuario.lastName }}</h4>
                <p><strong>Cedula: </strong> {{ Usuario.idNumber }}</p>
                <p><strong>Telefono: </strong> {{ Usuario.phoneNumber }}</p>
                <p><strong>Correo Electronico: </strong> {{ Usuario.email }}</p>
              </div>
            </div>

            <p><strong>Horario: </strong> {{ AppointmentClient.Schedule }}</p>
            <p><strong>Ubicacion: </strong> {{ AppointmentClient.Location }}</p>
            <p><strong>Servicio: </strong> {{ AppointmentClient.Service }}</p>
            <p><strong>Comentario: </strong> {{ AppointmentClient.Comment }}</p>
            <p *ngIf="AppointmentClient.PriorityService == true">
              <strong>Servicio prioritario: </strong> Activo
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- FIN Sesion por confirmar -->

<!-- INICIO Sesion en progreso -->
<section id="Services" class="services section-bg">
  <div class="container" data-aos="fade-up">
    <div class="section-title">
      <h2>Citas En Progresos</h2>
    </div>

    <div class="row">
      <div class="col-md-6" *ngFor="let AppointmentClient of tutorials">
        <div
          *ngIf="
            AppointmentClient.Status !== 'Completado' &&
            AppointmentClient.Confirm == true
          "
        >
          <div class="icon-box" data-aos="fade-up" data-aos-delay="100">
            <i class="bi bi-card-checklist"></i>

            <div
              *ngFor="let Usuario of user"
              (click)="setActiveTutorial(AppointmentClient, Usuario)"
              data-bs-target="#modalStatus"
              data-bs-toggle="modal"
            >
              <div *ngIf="AppointmentClient.UserID == Usuario._id">
                <h4>{{ Usuario.firstName }} {{ Usuario.lastName }}</h4>
                <p><strong>Cedula: </strong> {{ Usuario.idNumber }}</p>
                <p><strong>Telefono: </strong> {{ Usuario.phoneNumber }}</p>
                <p><strong>Correo Electronico: </strong> {{ Usuario.email }}</p>
              </div>
            </div>

            <p><strong>Horario: </strong> {{ AppointmentClient.Schedule }}</p>
            <p><strong>Ubicacion: </strong> {{ AppointmentClient.Location }}</p>
            <p><strong>Servicio: </strong> {{ AppointmentClient.Service }}</p>
            <p><strong>Empleado: </strong> {{ AppointmentClient.Employee }}</p>
            <p><strong>Comentario: </strong> {{ AppointmentClient.Comment }}</p>
            <p *ngIf="AppointmentClient.PriorityService == true">
              <strong>Servicio prioritario: </strong> Activo
            </p>
            <p *ngIf="AppointmentClient.Status !== ''">
              <strong>Estado: </strong> {{ AppointmentClient.Status }}
            </p>
            <p>
              <strong>Confirmacion: </strong>
              {{
                AppointmentClient.Confirm
                  ? "Confirmado"
                  : "Pendiente de confimacion"
              }}
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- FIN Sesion en progreso -->

<!-- INICIO Sesion en completado -->
<section id="Services" class="services section-bg">
  <div class="container" data-aos="fade-up">
    <div class="section-title">
      <h2>Citas Completadas</h2>
    </div>
    <div class="row">
      <ng-container *ngFor="let AppointmentClient of tutorials">
        <ng-container *ngIf="AppointmentClient.Status == 'Completado'">
          <div class="col-md-6">
            <div class="icon-box" data-aos="fade-up" data-aos-delay="100">
              <ng-container
                *ngFor="let Usuario of user"
                (click)="setActiveTutorial(AppointmentClient, Usuario)"
              >
                <div *ngIf="AppointmentClient.UserID == Usuario._id">
                  <h4>{{ Usuario.firstName }} {{ Usuario.lastName }}</h4>
                  <p><strong>Cedula: </strong> {{ Usuario.idNumber }}</p>
                  <p><strong>Telefono: </strong> {{ Usuario.phoneNumber }}</p>
                  <p>
                    <strong>Correo Electronico: </strong> {{ Usuario.email }}
                  </p>
                </div>
              </ng-container>
              <p><strong>Servicio: </strong> {{ AppointmentClient.Service }}</p>
              <p><strong>Horario: </strong> {{ AppointmentClient.Schedule }}</p>
              <p>
                <strong>Ubicacion: </strong> {{ AppointmentClient.Location }}
              </p>
              <p>
                <strong>Empleado: </strong> {{ AppointmentClient.Employee }}
              </p>
            </div>
          </div>
        </ng-container>
      </ng-container>
    </div>
  </div>
</section>
<!-- FIN Sesion en completado -->

<!-- INICIO Modal de confirmacion -->
<div>
  <div
    class="modal fade"
    id="modalConfirmation"
    aria-hidden="true"
    aria-labelledby="exampleModalToggleLabel"
    tabindex="-1"
    (shown.bs.modal)="resetSelectedEmployee()"
  >
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalToggleLabel">
            <strong>Confimacion de Citas</strong>
          </h1>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body">
          <p>Seleccione un empleado:</p>

          <select
            class="form-select"
            aria-label="Default select example"
            [(ngModel)]="selectedEmployee"
          >
            <option selected value="null">Seleccione:</option>
            <option *ngFor="let emp of employee" [value]="emp.name">
              {{ emp.name }}
            </option>
          </select>

          <br />

          <p>Si desea confirmar la cita, presione <strong>Aceptar</strong></p>
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-outline-danger"
            data-bs-dismiss="modal"
          >
            Cancelar
          </button>
          <button
            type="button"
            class="btn btn-outline-success"
            data-bs-target="#modalConfirmation2"
            data-bs-toggle="modal"
            (click)="updatePublished(true)"
            [disabled]="selectedEmployee === 'null'"
          >
            Aceptar
          </button>
        </div>
      </div>
    </div>
  </div>

  <div
    class="modal fade"
    id="modalConfirmation2"
    aria-hidden="true"
    aria-labelledby="exampleModalToggleLabel2"
    tabindex="-1"
  >
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalToggleLabel2">
            <strong>Confimacion de Citas</strong>
          </h1>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body">
          La cita fue confirmada, <strong>Exitosamente!</strong>
        </div>
        <div class="modal-footer">
          <button
            class="btn btn-outline-success"
            data-bs-target="#exampleModalToggle"
            data-bs-toggle="modal"
            (click)="refreshWindow()"
          >
            Aceptar
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- FIN Modal de confirmacion -->

<!-- INICIO Modal de estados -->
<div>
  <div
    class="modal fade"
    id="modalStatus"
    aria-hidden="true"
    aria-labelledby="exampleModalToggleLabel"
    tabindex="-1"
  >
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalToggleLabel">
            <strong>Actualizar estado de la cita</strong>
          </h1>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body">
          <p>Seleccione el estado de la cita:</p>
          <select
            class="form-select"
            aria-label="Default select example"
            [(ngModel)]="selectedOption"
            style="width: 100%; border: 1px solid #ccc; margin-bottom: 10px"
            required
          >
            <option value="" disabled selected>Seleccione:</option>
            <option value="1">Recepcion</option>
            <option value="2">En proceso</option>
            <option value="3">Finalizado</option>
            <option value="4">Completado</option>
          </select>
          <p>
            Si desea cambiar el estado de la cita, presione
            <strong>Aceptar</strong>
          </p>
        </div>

        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-outline-danger"
            data-bs-dismiss="modal"
          >
            Cancelar
          </button>
          <button
            type="button"
            class="btn btn-outline-success"
            data-bs-target="#modalStatus2"
            data-bs-toggle="modal"
            (click)="optionSelected()"
            [disabled]="selectedOption == ''"
          >
            Aceptar
          </button>
        </div>
      </div>
    </div>
  </div>
  <div
    class="modal fade"
    id="modalStatus2"
    aria-hidden="true"
    aria-labelledby="exampleModalToggleLabel2"
    tabindex="-1"
  >
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalToggleLabel2">
            <strong>Actualizar estado de la cita</strong>
          </h1>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body">
          El estado de la cita fue cambiado, <strong>Exitosamente!</strong>
        </div>
        <div class="modal-footer">
          <button
            class="btn btn-outline-success"
            data-bs-target="#exampleModalToggle"
            data-bs-toggle="modal"
            (click)="refreshWindow()"
          >
            Aceptar
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- FIN Modal de estados -->
