<app-header></app-header>

<section id="hero" class="d-flex align-items-center">
  <div class="container" data-aos="zoom-out" data-aos-delay="100">
    <div class="row">
      <div class="col-xl-6">
        <h1>Garage365.</h1>
        <h2>
          Encuentra el taller perfecto para tu vehículo en un solo lugar:
          ¡Nuestra plataforma, tu solución automotriz en línea!
        </h2>
        <a href="/busqueda" class="btn-get-started scrollto"
          >Busqueda de Talleres</a
        >
      </div>
    </div>
  </div>
</section>

<main id="main">
  <section id="About" class="about section-bg">
    <div class="container" data-aos="fade-up">
      <div class="row no-gutters">
        <div class="content col-xl-12 d-flex align-items-stretch">
          <div class="content text-center">
            <h3>¿Quiénes somos?</h3>
            <p>
              Nuestro equipo está compuesto por profesionales con amplia
              experiencia en el desarrollo de soluciones digitales, la industria
              automotriz y la atención al cliente. Trabajamos juntos con el
              objetivo de ofrecer una plataforma de alta calidad, confiable y
              fácil de usar que satisfaga las necesidades de nuestros usuarios y
              talleres asociados. Creemos en la importancia de la innovación y
              la mejora continua, y estamos constantemente buscando formas de
              mejorar nuestra plataforma y adaptarnos a las necesidades
              cambiantes de nuestros usuarios y talleres asociados.
              <br />
              <br />
              Nuestro compromiso con la transparencia, la responsabilidad y la
              colaboración nos guía en todas nuestras operaciones y nos impulsa
              a construir relaciones sólidas con nuestros talleres asociados y
              otros stakeholders. Estamos orgullosos de lo que hacemos y estamos
              emocionados de contribuir a la mejora de la industria automotriz
              en la República Dominicana y, en el futuro, en otras regiones.
            </p>
          </div>
        </div>
        <div class="col-xl-12 d-flex align-items-stretch">
          <div
            class="icon-boxes justify-content-center"
            style="margin-left: 100px"
          >
            <div class="row">
              <div
                class="col-md-4 icon-box"
                data-aos="fade-up"
                data-aos-delay="100"
              >
                <i class="bx bx-spa"></i>
                <h4>Misión</h4>
                <p style="color: white">
                  Ofrecer una plataforma en línea que simplifique la interacción
                  entre usuarios y talleres automotrices certificados,
                  facilitando la búsqueda, programación de citas y seguimiento
                  de servicios.
                </p>
              </div>
              <div
                class="col-md-4 icon-box"
                data-aos="fade-up"
                data-aos-delay="200"
              >
                <i class="bx bx-shekel"></i>
                <h4>Visión</h4>
                <p style="color: white">
                  Ser la plataforma líder en la República Dominicana para la
                  búsqueda y programación de servicios de talleres automotrices
                  certificados, expandiéndonos a otras regiones y continuamente
                  innovando para satisfacer las necesidades cambiantes de
                  nuestros usuarios.
                </p>
              </div>
              <div
                class="col-md-4 icon-box"
                data-aos="fade-up"
                data-aos-delay="300"
              >
                <i class="bx bx-smile"></i>
                <h4>Valores</h4>
                <p style="color: white">
                  Innovación<br />
                  Calidad<br />
                  Transparencia<br />
                  Servicio al cliente<br />
                  Responsabilidad<br />
                  Colaboración<br />
                  Mejora continua
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section id="tabs" class="tabs">
    <div class="container" data-aos="fade-up">
      <ul class="nav nav-tabs row d-flex">
        <li class="nav-item col-4">
          <a
            class="nav-link active show"
            data-bs-toggle="tab"
            data-bs-target="#tab-1"
          >
            <i class="bx bx-spa"></i>
            <h4 class="d-none d-lg-block">Misión</h4>
          </a>
        </li>
        <li class="nav-item col-4">
          <a class="nav-link" data-bs-toggle="tab" data-bs-target="#tab-2">
            <i class="bx bx-shekel"></i>
            <h4 class="d-none d-lg-block">Visión</h4>
          </a>
        </li>
        <li class="nav-item col-4">
          <a class="nav-link" data-bs-toggle="tab" data-bs-target="#tab-3">
            <i class="bx bx-smile"></i>
            <h4 class="d-none d-lg-block">Valores</h4>
          </a>
        </li>
      </ul>

      <div class="tab-content">
        <div class="tab-pane active show" id="tab-1">
          <div class="row">
            <div
              class="col-lg-6 order-2 order-lg-1 mt-3 mt-lg-0"
              data-aos="fade-up"
              data-aos-delay="100"
            >
              <h3>La Misión de Garage365.</h3>
              <p class="fst-italic">
                Nuestra misión es revolucionar la forma en que los usuarios
                interactúan con los talleres automotrices certificados,
                proporcionando una plataforma en línea intuitiva y fácil de usar
                que centraliza la información, facilita la programación de citas
                y mejora la comunicación entre los usuarios y los talleres. Nos
                esforzamos por ofrecer una experiencia de usuario excepcional,
                aumentar la eficiencia de los talleres y contribuir a la
                seguridad y el mantenimiento adecuado de los vehículos.
              </p>
              <ul>
                <li>
                  <i class="ri-check-double-line"></i> Simplificación de la
                  Interacción.
                </li>
                <li>
                  <i class="ri-check-double-line"></i> Mejora de la Experiencia
                  del Usuario.
                </li>
                <li>
                  <i class="ri-check-double-line"></i> Facilitación de Servicios
                  de Talleres Automotrices.
                </li>
              </ul>
              <p>
                Nuestra misión es transformar la industria automotriz en la
                República Dominicana, proporcionando una plataforma en línea que
                simplifica la interacción entre los usuarios y los talleres
                automotrices certificados. Nos esforzamos por mejorar la
                experiencia del usuario, facilitando la búsqueda de talleres, la
                programación de citas y el seguimiento de servicios de manera
                eficiente y sin complicaciones.
              </p>
            </div>
            <div
              class="col-lg-6 order-1 order-lg-2 text-center"
              data-aos="fade-up"
              data-aos-delay="200"
            >
              <img src="assets/img/tabs-1.jpg" alt="" class="img-fluid" />
            </div>
          </div>
        </div>

        <div class="tab-pane" id="tab-2">
          <div class="row">
            <div class="col-lg-6 order-2 order-lg-1 mt-3 mt-lg-0">
              <h3>La Visión de Garage365.</h3>
              <p>
                Miramos hacia el futuro con optimismo y determinación, con la
                visión de transformar la forma en que los usuarios y los
                talleres automotrices interactúan y se conectan. Nuestra visión
                se centra en ser la plataforma líder en la República Dominicana
                para la búsqueda y programación de servicios de talleres
                automotrices certificados, y en expandir nuestra presencia a
                otras regiones.
              </p>
              <ul>
                <li>
                  <i class="ri-check-double-line"></i> Liderazgo en la
                  Industria.
                </li>
                <li>
                  <i class="ri-check-double-line"></i> Expansión Regional.
                </li>
                <li>
                  <i class="ri-check-double-line"></i> Innovación Continua.
                </li>
              </ul>
              <p>
                Nuestra visión es más que una meta, es un compromiso con
                nuestros usuarios, talleres asociados y con la industria
                automotriz en general. Nos esforzamos por liderar, expandir y
                continuar innovando para ofrecer una plataforma que no solo
                satisfaga las necesidades actuales, sino que también esté
                preparada para los desafíos del futuro. Creemos en el potencial
                de nuestra plataforma para transformar la industria automotriz y
                estamos emocionados por lo que el futuro nos depara.
              </p>
            </div>
            <div class="col-lg-6 order-1 order-lg-2 text-center">
              <img src="assets/img/tabs-2.jpg" alt="" class="img-fluid" />
            </div>
          </div>
        </div>

        <div class="tab-pane" id="tab-3">
          <div class="row">
            <div class="col-lg-6 order-2 order-lg-1 mt-3 mt-lg-0">
              <h3>Los Valores de Garage365.</h3>
              <p>
                Nuestros valores son los principios fundamentales que guían
                nuestras acciones y decisiones. Son la base de nuestra cultura y
                reflejan lo que consideramos importante. Nos esforzamos por
                vivir estos valores cada día en todo lo que hacemos.
              </p>
              <ul>
                <li>
                  <i class="ri-check-double-line"></i> Innovación: Estamos a la
                  vanguardia de la tecnología para ofrecer soluciones que
                  satisfagan las necesidades de nuestros usuarios.
                </li>
                <li>
                  <i class="ri-check-double-line"></i> Calidad: Nos
                  comprometemos a ofrecer una plataforma de alta calidad y fácil
                  de usar.
                </li>
                <li>
                  <i class="ri-check-double-line"></i> Transparencia: Creemos en
                  la importancia de la transparencia en nuestras operaciones.
                </li>
                <li>
                  <i class="ri-check-double-line"></i> Servicio al cliente: Nos
                  esforzamos por ofrecer un servicio excepcional a nuestros
                  usuarios.
                </li>
                <li>
                  <i class="ri-check-double-line"></i> Responsabilidad: Actuamos
                  de manera ética y responsable en todas nuestras operaciones.
                </li>
                <li>
                  <i class="ri-check-double-line"></i> Colaboración: Valoramos
                  la colaboración y la construcción de relaciones sólidas.
                </li>
                <li>
                  <i class="ri-check-double-line"></i> Mejora continua: Estamos
                  comprometidos con la mejora continua y la adaptación a las
                  necesidades cambiantes.
                </li>
              </ul>
            </div>
            <div class="col-lg-6 order-1 order-lg-2 text-center">
              <img src="assets/img/tabs-3.jpg" alt="" class="img-fluid" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section id="Services" class="services section-bg">
    <div class="container" data-aos="fade-up">
      <div class="section-title">
        <h2>Servicios</h2>
        <p>
          Nuestra plataforma se esfuerza por ofrecer una variedad de servicios
          que faciliten la interacción entre los usuarios y los talleres
          automotrices certificados. Estos servicios están diseñados para
          simplificar la búsqueda de talleres, la programación de citas y el
          seguimiento de los servicios, proporcionando una experiencia de
          usuario excepcional.
        </p>
      </div>

      <div class="row">
        <div class="col-md-6">
          <div class="icon-box" data-aos="fade-up" data-aos-delay="100">
            <i class="bi bi-briefcase"></i>
            <h4>Búsqueda de Talleres</h4>
            <p>
              Permite a los usuarios buscar talleres automotrices certificados
              cerca de su ubicación.
            </p>
          </div>
        </div>
        <div class="col-md-6 mt-4 mt-md-0">
          <div class="icon-box" data-aos="fade-up" data-aos-delay="200">
            <i class="bi bi-card-checklist"></i>
            <h4>Programación de Citas</h4>
            <p>
              Los usuarios pueden programar citas para los servicios que
              necesiten de manera rápida y sencilla.
            </p>
          </div>
        </div>
        <div class="col-md-6 mt-4 mt-md-0">
          <div class="icon-box" data-aos="fade-up" data-aos-delay="300">
            <i class="bi bi-bar-chart"></i>
            <h4>Seguimiento de Servicios</h4>
            <p>
              Los usuarios pueden hacer seguimiento del progreso de los
              servicios que han solicitado.
            </p>
          </div>
        </div>
        <div class="col-md-6 mt-4 mt-md-0">
          <div class="icon-box" data-aos="fade-up" data-aos-delay="400">
            <i class="bi bi-binoculars"></i>
            <h4>Reseñas y Calificaciones</h4>
            <p>
              Los usuarios pueden leer y dejar reseñas y calificaciones de los
              talleres, ayudando a otros usuarios a tomar decisiones informadas.
            </p>
          </div>
        </div>
        <div class="col-md-6 mt-4 mt-md-0">
          <div class="icon-box" data-aos="fade-up" data-aos-delay="500">
            <i class="bi bi-brightness-high"></i>
            <h4>Recordatorios de Servicio</h4>
            <p>
              La plataforma puede enviar recordatorios a los usuarios sobre los
              servicios de mantenimiento que sus vehículos puedan necesitar.
            </p>
          </div>
        </div>
        <div class="col-md-6 mt-4 mt-md-0">
          <div class="icon-box" data-aos="fade-up" data-aos-delay="600">
            <i class="bi bi-calendar4-week"></i>
            <h4>Comunicación Directa</h4>
            <p>
              La plataforma permite a los usuarios comunicarse directamente con
              los talleres para resolver dudas o discutir detalles sobre los
              servicios.
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section id="Workshops" class="portfolio">
    <div class="container" data-aos="fade-up">
      <div class="section-title">
        <h2>Talleres</h2>
      </div>

      <div
        class="row portfolio-container"
        data-aos="fade-up"
        data-aos-delay="200"
      >
        <div class="col-lg-4 col-md-6 portfolio-item filter-app">
          <div class="portfolio-wrap">
            <img
              src="assets/img/portfolio/portfolio-1.jpg"
              class="img-fluid"
              alt=""
            />
            <div class="portfolio-info">
              <h4>App 1</h4>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 portfolio-item filter-web">
          <div class="portfolio-wrap">
            <img
              src="assets/img/portfolio/portfolio-2.jpg"
              class="img-fluid"
              alt=""
            />
            <div class="portfolio-info">
              <h4>Web 3</h4>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 portfolio-item filter-app">
          <div class="portfolio-wrap">
            <img
              src="assets/img/portfolio/portfolio-3.jpg"
              class="img-fluid"
              alt=""
            />
            <div class="portfolio-info">
              <h4>App 2</h4>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 portfolio-item filter-card">
          <div class="portfolio-wrap">
            <img
              src="assets/img/portfolio/portfolio-4.jpg"
              class="img-fluid"
              alt=""
            />
            <div class="portfolio-info">
              <h4>Card 2</h4>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 portfolio-item filter-web">
          <div class="portfolio-wrap">
            <img
              src="assets/img/portfolio/portfolio-5.jpg"
              class="img-fluid"
              alt=""
            />
            <div class="portfolio-info">
              <h4>Web 2</h4>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 portfolio-item filter-app">
          <div class="portfolio-wrap">
            <img
              src="assets/img/portfolio/portfolio-6.jpg"
              class="img-fluid"
              alt=""
            />
            <div class="portfolio-info">
              <h4>App 3</h4>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 portfolio-item filter-card">
          <div class="portfolio-wrap">
            <img
              src="assets/img/portfolio/portfolio-7.jpg"
              class="img-fluid"
              alt=""
            />
            <div class="portfolio-info">
              <h4>Card 1</h4>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 portfolio-item filter-card">
          <div class="portfolio-wrap">
            <img
              src="assets/img/portfolio/portfolio-8.jpg"
              class="img-fluid"
              alt=""
            />
            <div class="portfolio-info">
              <h4>Card 3</h4>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 portfolio-item filter-web">
          <div class="portfolio-wrap">
            <img
              src="assets/img/portfolio/portfolio-9.jpg"
              class="img-fluid"
              alt=""
            />
            <div class="portfolio-info">
              <h4>Web 3</h4>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section id="Plans" class="pricing section-bg">
    <div class="container" data-aos="fade-up">
      <div class="section-title">
        <h2>Planes</h2>
        <p>
          Nuestra plataforma ofrece tres planes distintos diseñados para
          satisfacer las necesidades de una amplia gama de usuarios. Desde
          individuos que buscan servicios para un solo vehículo hasta empresas
          que necesitan gestionar una flota de vehículos, tenemos un plan que se
          ajusta a tus necesidades. A continuación, se detallan las
          características de cada plan:
        </p>
      </div>
      <div class="row">
        <div class="col-lg-4 col-md-6">
          <div class="box" data-aos="fade-up" data-aos-delay="100">
            <h3>Plan Gratuito</h3>
            <h4><sup>RD$</sup>0<span> / mes</span></h4>
            <ul>
              <li>Búsqueda de talleres automotrices certificados.</li>
              <li>Programación de citas.</li>
              <li>Seguimiento de servicios.</li>
              <li>Historial de servicios y citas.</li>
            </ul>
            <div class="btn-wrap">
              <a href="#" class="btn-buy">Adquirir</a>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 mt-4 mt-md-0">
          <div class="box featured" data-aos="fade-up" data-aos-delay="200">
            <h3>Plan Personal de Pago</h3>
            <h4><sup>RD$</sup>1,000<span> / mes</span></h4>
            <ul>
              <li>Prioridad en la programación de citas.</li>
              <li>Soporte al cliente premium.</li>
              <li>Seguimiento de servicios con notificaciones.</li>
              <li>Acceso a reseñas y calificaciones.</li>
              <li>Comunicación directa con los talleres.</li>
              <li>Recordatorios de servicio personalizados.</li>
            </ul>
            <div class="btn-wrap">
              <a href="#" class="btn-buy">Adquirir</a>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 mt-4 mt-lg-0">
          <div class="box" data-aos="fade-up" data-aos-delay="300">
            <h3>Plan Empresarial de Pago</h3>
            <h4><sup>RD$</sup>5,000<span> / mes</span></h4>
            <ul>
              <li>
                Gestión de flotas: seguimiento y programación de servicios para
                múltiples vehículos.
              </li>
              <li>Informes de servicio personalizados.</li>
              <li>
                Acceso a promociones y descuentos exclusivos de talleres
                asociados.
              </li>
              <li>Soporte al cliente empresarial dedicado.</li>
            </ul>
            <div class="btn-wrap">
              <a href="#" class="btn-buy">Adquirir</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section id="FAQ" class="faq">
    <div class="container" data-aos="fade-up">
      <div class="section-title">
        <h2>Preguntas Frecuentes</h2>
      </div>
      <ul class="faq-list accordion" data-aos="fade-up">
        <li>
          <a data-bs-toggle="collapse" class="collapsed" data-bs-target="#faq1">
            ¿Cómo puedo buscar talleres en la plataforma?
            <i class="bx bx-chevron-down icon-show"></i
            ><i class="bx bx-x icon-close"></i
          ></a>
          <div id="faq1" class="collapse" data-bs-parent=".faq-list">
            <p>
              Puedes buscar talleres utilizando la función de búsqueda en
              nuestra plataforma. Simplemente ingresa tu ubicación y la
              plataforma te mostrará una lista de talleres automotrices
              certificados cerca de ti.
            </p>
          </div>
        </li>
        <li>
          <a data-bs-toggle="collapse" data-bs-target="#faq2" class="collapsed"
            >¿Cómo programo una cita?
            <i class="bx bx-chevron-down icon-show"></i
            ><i class="bx bx-x icon-close"></i
          ></a>
          <div id="faq2" class="collapse" data-bs-parent=".faq-list">
            <p>
              Una vez que hayas encontrado un taller que te interese, puedes
              programar una cita seleccionando la opción de programar cita.
              Luego, selecciona el servicio que necesitas y elige una fecha y
              hora que te convenga.
            </p>
          </div>
        </li>
        <li>
          <a data-bs-toggle="collapse" data-bs-target="#faq3" class="collapsed"
            >¿Cómo puedo hacer seguimiento de los servicios que he solicitado?
            <i class="bx bx-chevron-down icon-show"></i
            ><i class="bx bx-x icon-close"></i
          ></a>
          <div id="faq3" class="collapse" data-bs-parent=".faq-list">
            <p>
              Puedes hacer seguimiento de los servicios que has solicitado a
              través de la sección de seguimiento de servicios en tu cuenta.
              Aquí, podrás ver el estado de tus servicios y recibir
              actualizaciones en tiempo real.
            </p>
          </div>
        </li>
        <li>
          <a data-bs-toggle="collapse" data-bs-target="#faq4" class="collapsed"
            >¿Cómo puedo dejar una reseña o calificación de un taller?
            <i class="bx bx-chevron-down icon-show"></i
            ><i class="bx bx-x icon-close"></i
          ></a>
          <div id="faq4" class="collapse" data-bs-parent=".faq-list">
            <p>
              Después de que se haya completado un servicio, puedes dejar una
              reseña o calificación del taller a través de la sección de reseñas
              y calificaciones en la página del taller.
            </p>
          </div>
        </li>
        <li>
          <a data-bs-toggle="collapse" data-bs-target="#faq5" class="collapsed"
            >¿Qué son los recordatorios de servicio y cómo funcionan?
            <i class="bx bx-chevron-down icon-show"></i
            ><i class="bx bx-x icon-close"></i
          ></a>
          <div id="faq5" class="collapse" data-bs-parent=".faq-list">
            <p>
              Los recordatorios de servicio son notificaciones que te enviamos
              para recordarte los servicios de mantenimiento que tu vehículo
              puede necesitar. Puedes personalizar estos recordatorios en la
              sección de configuración de tu cuenta.
            </p>
          </div>
        </li>
        <li>
          <a data-bs-toggle="collapse" data-bs-target="#faq6" class="collapsed"
            >¿Cómo funciona la comunicación directa con los talleres?
            <i class="bx bx-chevron-down icon-show"></i
            ><i class="bx bx-x icon-close"></i
          ></a>
          <div id="faq6" class="collapse" data-bs-parent=".faq-list">
            <p>
              La comunicación directa con los talleres se realiza a través de
              nuestra plataforma. Puedes enviar mensajes a los talleres para
              resolver dudas o discutir detalles sobre los servicios. Los
              talleres también pueden usar esta función para enviarte
              actualizaciones sobre tus servicios.
            </p>
          </div>
        </li>
      </ul>
    </div>
  </section>

  <section id="Team" class="team section-bg">
    <div class="container" data-aos="fade-up">
      <div class="section-title">
        <h2>Equipo de trabajo</h2>
      </div>

      <div class="row">
        <div class="col-lg-3 col-md-6 d-flex align-items-stretch"></div>

        <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
          <div class="member" data-aos="fade-up" data-aos-delay="200">
            <div class="member-img">
              <img src="assets/img/team/team-1.jpeg" class="img-fluid" alt="" />
              <div class="social">
                <a href=""><i class="bi bi-facebook"></i></a>
                <a href=""><i class="bi bi-instagram"></i></a>
                <a href=""><i class="bi bi-linkedin"></i></a>
              </div>
            </div>
            <div class="member-info">
              <h4>Francis Cordero</h4>
              <span>CEO</span>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
          <div class="member" data-aos="fade-up" data-aos-delay="300">
            <div class="member-img">
              <img src="assets/img/team/team-2.jpg" class="img-fluid" alt="" />
              <div class="social">
                <a href=""><i class="bi bi-facebook"></i></a>
                <a href=""><i class="bi bi-instagram"></i></a>
                <a href=""><i class="bi bi-linkedin"></i></a>
              </div>
            </div>
            <div class="member-info">
              <h4>Luis Cruz</h4>
              <span>CEO</span>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 d-flex align-items-stretch"></div>
      </div>
    </div>
  </section>

  <section id="Contact" class="contact">
    <div class="container" data-aos="fade-up">
      <div class="section-title">
        <h2>Contacto</h2>
        <p>
          Nos encantaría escuchar de ti. Si tienes alguna pregunta, comentario o
          sugerencia, no dudes en ponerte en contacto con nosotros. Nuestro
          equipo está listo y dispuesto a ayudarte con cualquier inquietud que
          puedas tener sobre nuestra plataforma o los servicios que ofrecemos.
          Tu opinión es valiosa para nosotros y nos ayuda a mejorar y a ofrecer
          una experiencia de usuario excepcional. Utiliza el formulario a
          continuación para enviarnos un mensaje y nos pondremos en contacto
          contigo lo antes posible.
        </p>
      </div>

      <div class="row" data-aos="fade-up" data-aos-delay="100">
        <div class="col-lg-6">
          <div class="row">
            <div class="col-md-12">
              <div class="info-box">
                <i class="bx bx-map"></i>
                <h3>Nuestra Direccion</h3>
                <p>Avenida 27 de febrero, Santo Domingo, Distrito Nacional</p>
              </div>
            </div>
            <div class="col-md-6">
              <div class="info-box mt-4">
                <i class="bx bx-envelope"></i>
                <h3>Correos</h3>
                <p>info@example.com<br />contact@example.com</p>
              </div>
            </div>
            <div class="col-md-6">
              <div class="info-box mt-4">
                <i class="bx bx-phone-call"></i>
                <h3>Telefonos</h3>
                <p>
                  (000) 000-0000
                  <br />
                  (000) 000-0000
                </p>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-6">
          <form
            action="forms/contact.php"
            method="post"
            name="form"
            (submit)="onSubmit($event, f)"
            #f="ngForm"
            novalidate
            role="form"
            class="php-email-form"
          >
            <div class="row">
              <div class="col form-group">
                <input
                  type="text"
                  name="name"
                  class="form-control"
                  id="name"
                  placeholder="Nombre"
                  required
                />
              </div>
              <div class="col form-group">
                <input
                  type="email"
                  class="form-control"
                  name="email"
                  id="email"
                  placeholder="Correo"
                  required
                />
              </div>
            </div>
            <div class="form-group">
              <input
                type="text"
                class="form-control"
                name="subject"
                id="subject"
                placeholder="Asunto"
                required
              />
            </div>
            <div class="form-group">
              <textarea
                class="form-control"
                name="message"
                rows="5"
                placeholder="Mensaje"
                required
              ></textarea>
            </div>
            <div class="text-center">
              <button type="submit">Enviar</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>
</main>

<a href="#" class="back-to-top d-flex align-items-center justify-content-center"
  ><i class="bi bi-arrow-up-short"></i
></a>

<app-footer></app-footer>
