body {
margin: 0;
height: 100vh;
display: flex;
align-items: center;
justify-content: center;
}

.container {
height: 100vh;
display: flex;
align-items: center;
justify-content: center;
}

.logo {
font-size: 50px;
margin: 0;
padding: 0;
font-weight: 600;
font-family: "Poppins", sans-serif;
}

.logo a {
color: #111111;
}

.logo a span {
color: #e03a3c;
}

.verification-message {
margin: 20px 0;
font-size: 18px;
color: #555;
font-weight: 600; /* Hace el texto un poco más audaz */
}

a {
color: #e03a3c;
cursor: pointer;
text-decoration: underline;
font-weight: 600; /* Hace el enlace un poco más audaz */
}

a:hover {
color: #c0292a;
}

.progress {
height: 20px;
margin-top: 30px;
background-color: #f3f3f3;
border-radius: 10px;
}

.progress-bar {
background-color: #e03a3c;
border-radius: 10px;
}

