<app-header></app-header>

<div class="container" *ngIf="currentUser; else loggedOut">
  <div id="header" *ngFor="let role of currentUser.roles">
    <div *ngIf="role == 'ROLE_USER'" class="mt-5">
      <app-settings-user></app-settings-user>
    </div>
  </div>

  <div id="header" *ngFor="let role of currentUser.roles">
    <div *ngIf="role == 'ROLE_MODERATOR'">
      <app-settings-workshop></app-settings-workshop>
    </div>
  </div>
</div>

<ng-template #loggedOut> Inicie sesion. </ng-template>
